@import "variables.css";

.hidden {
  display: none;
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 50%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#clock {
  color: var(--mainColor);
  font-weight: 900;
  font-size: 100px;
  text-shadow: 4px 4px 4px var(--subColor);
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login,
.todo {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
#login-form,
#todo-form {
  margin: 0px;
  font-size: 50px;
  width: 30px;
  outline-style: none;
}

#login-form input {
  display: block;
}

#login-form input,
#todo-form input {
  padding: 10px;
  border-radius: 20px;
  background-color: var(--mainColor);
  color: var(--subColor);
  font-size: 20px;
  border: none;
}

#login-form input:focus,
#todo-form input:focus {
  outline: 1px solid var(--subColor);
}
#greeting {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mainColor);
  font-weight: 600;
  font-size: 60px;
  text-shadow: 4px 4px 4px var(--subColor);
}

#todo-list {
  color: var(--subColor);
  text-shadow: 2px 2px 2px var(--mainColor);
  font-size: 20px;
  font-weight: 900;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1em;
}

#quote {
  position: fixed;
  color: var(--subColor);
  text-shadow: 4px 4px 4px var(--mainColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 15px;
  bottom: 20px;
  left: 10px;
  right: 10px;
}

#weather {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--mainColor);
  text-shadow: 4px 4px 4px var(--subColor);
  font-size: 20px;
  font-weight: 500;
}

li button {
  background: none;
  border: none;
}
